<Page class="ns-root">
    
    <ActionBar>
        <Label text="{{appName}} - {{ appStates?.name }} - {{ appStates?.version }}"></Label>
    </ActionBar>
    
    <GridLayout>
        <StackLayout row="0">
            <Label text="roboto-regular"></Label>
            <Label class="roboto-black" text="roboto-black"></Label>
            <Label class="roboto-bold" text="roboto-bold"></Label>
            <Label class="roboto-bold-italic" text="roboto-bold-italic"></Label>
            <Label class="roboto-italic" text="roboto-italic"></Label>
            <Label class="roboto-light" text="roboto-light"></Label>
            <Label class="roboto-medium" text="roboto-medium"></Label>
            <Label class="roboto-medium-italic" text="roboto-medium-italic"></Label>
            <Label class="roboto-thin" text="roboto-thin"></Label>                 
            <Label text="Image"></Label>
            <Image src="~/assets/images/entry-components.png" stretch="none" ></Image>
            <Label text="Image Button"></Label>
            <Button class="image-button"></Button>
            <Label text="Error Notifcation"></Label>
            <Button (tap)="raiseError()"  text="Raise Error"></Button>
            <Label text="{{ appStates?.auth?.token }}"></Label>            
            <Button *ngIf="appStates?.auth?.token?.length > 0" (tap)="onLogout()" text="Logout"></Button>            
            <Button *ngIf="appStates?.auth?.token?.length === 0" (tap)="onLogin()" text="Log in"></Button>
            <Label text="{{ 'APP_NAME' | t }}"></Label>
                      
        </StackLayout>
    </GridLayout>
</Page>