.roboto-black{
  font-family: "Roboto-Black";
}

.roboto-bold{
  font-family: "Roboto-Bold";
}

.roboto-bold-italic{
  font-family: "Roboto-BoldItalic";
}

.roboto-italic{
  font-family: "Roboto-Italic";
}

.roboto-light{
  font-family: "Roboto-Light";
}

.roboto-light-italic{
  font-family: "Roboto-LightItalic";
}

.roboto-medium{
  font-family: "Roboto-Medium";
}

.roboto-medium-italic{
  font-family: "Roboto-MediumItalic";
}

.roboto{
  font-family: "Roboto-Regular";
}

.roboto-thin{
  font-family: "Roboto-Thin";
}

.roboto-thin-italic{
  font-family: "Roboto-ThinItalic";
}